* {
    box-sizing: border-box;
    font-family: 'Inter';
        padding: 0;
    margin: 0;
    font-weight: 400; 
 }

.logo {
    height: 8%;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

a {

    color: #2C86D2;

}

ul li a:hover {
    border-bottom: 3px solid #2C86D2;
}

.haut {
    width: 100%;
    height: 500px;

    background-image: url("../images/accueil1.jpg");
    background-size: 100% 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F1F1;
    ;
}

p {
    padding: 5%;
}

.marge {
    margin: 5%;
}

hr {
    background-color: white;
}

.trade {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.footer {
    width: 100%;
     background-color: black;
     color: white;
     padding: 5%;
 }
 

 

.cache {
    display: none;
}

.menu,
.logor {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2C86D2;
    overflow-x: hidden;
    transition: 0.5s;

}

.sidenav ul {
    display: flex;
    flex-direction: column;
}

.sidenav li {
    border-bottom: 1px solid #F7F1F1;
    padding: 8%;
}

.annule {
    border-bottom: none;
}

.sidenav li a {
    color: white;
    text-decoration: none;
    font-size: large;
}

.rond {
    width: 20%;
    height: 50%;
    border-radius: 50%;
    overflow: hidden;
}
 

.footerImage {
    width: 100%;
    height: 500px;
}

.forme {
    width: 50%;
    height: 350px;
    border-radius: 50%;
    border-bottom: 10px solid #2C86D2;
    overflow: hidden;
}

.forme2 {
    width: 50%;
    height: 350px;
}

.surgeryA {
    width: 80%;
    height: 500px;
}

.width {
    width: 100%;
}

.contact {
    background-image: url("../images/app1.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}

.child {
    background-color: #F7F1F1;
    opacity: 0.8;
    font-weight: bold;
    width: 500px;
    height: 300px;
}

.formulaire {
    width: 40%;
}

.height {
    height: 600px;
}

.repertoire {
    width: 20%;
}

.closeli {
    position: absolute;
    bottom: 0;
    right:1px;
    font-size: x-large;

}

.bleu{
    color: #2C86D2;
} 
.footers {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     background-color:#111111;
     color: white; 
     }
     .footer-section {
     width: 33.33%;
     margin-bottom: 10px;
     padding: 15px;
     }

     .footer-section-title {
      display: flex;
     align-items: center;
     }
     
     .vertical-line {
      width: 5px;
      height: 30px;
      background-color:blue;
     margin-right: 10px;
     }
     
     .contact-icons {
    display: flex;
    align-items:start;
    flex-direction: column;
     }
     
     .contact-icon .icon-square{
    flex-shrink: 0;
     }
     .contact-icon {
      position: relative;
      display: flex; /* Utilisation de flexbox */
      align-items: center; /* Alignement vertical des éléments */
      margin-bottom: 15px; /* Espacement entre les icônes de contact */
     }
     .contact-icon::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #2C86D2;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
     }
     
     .contact-icon:hover::before {
      transform: scaleX(1);
     }
     
     .contact-icon p {
      margin: 0;
      margin-left: 10px; 
      white-space: nowrap;
      /* Espacement entre l'icône et le titre */
      
     }
     
     
     .icon-square {
      position: relative;
      display: flex;
      width: 50px;
      height: 50px;
      border: 2px solid #2C86D2;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
     }
     .icon-square::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #2C86D2;
      transition: width 0.3s ease;
      z-index: -1;
     }
     
     
     .social-icons {
      display: flex;
      align-items: center;
      font-size: 0px;
      justify-content: center;
     
     
     }
     
     .social-icons i {
      margin-right: 20px;
     }
     
     .footer-bottom {
     display: flex;
     align-items: center;
     background-color: black;
     justify-content: center;
     width: 100%;
     
     }
    
      
    
  
@media only screen and (min-width:1000px) {

    .car {
        height: 500px;
    }
    .social-icons{
        margin-top: 100px;
        }
        .social-icons i {
        font-size: 30px;
        }
        .footer-section {
        width: 30%;
        }
}

@media only screen and (max-width:1000px) {
    .footer-section {
        flex-direction:row;
        width: 100%;
        justify-content: center;
       }
       .footer-section-title h3 {
        display: flex;
        flex-wrap:wrap-reverse
       }
    .navigue {
        display: none;
    }

    .cache{
        border: 2px solid #2C86D2;
border-radius: 50px;
     display: flex;
    align-items: center;
    justify-content: space-between;
    
    }
    .menu,.logor {
        display: block;
    }
    .rond {
        width: 200px;
        height: 200px;
    }

    .footerImage {
        width: 100%;
        height: 30%;
    }

    .all{
         flex-direction: column;
    }
    .icone {
        margin-right: 10px;
    }

    .forme2,
    .forme {
        width: 100%;
    }

    .surgeryA {
        height: 200px;
        width: 100%;
    }

    .height {
        height: 400px;
    }

    .formulaire {
        width: 80%;
    }

    .repertoire {
        width: 50%;
    }

    .haut {
        height: 300px;
    }

    .car {
        width: 100%;
    }
    .ligne:hover{
        border-bottom: 2px solid #2C86D2;
    }
}