* {
    box-sizing: border-box;
    font-family: 'Inter';
        padding: 0;
    margin: 0;
    font-weight: 400;
font-size: 24px;
 line-height: 29px;
 }

.logo {
    height: 8%;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

a {

    color: #2C86D2;

}

ul li a:hover {
    border-bottom: 3px solid #2C86D2;
}

.haut {
    width: 100%;
    height: 500px;

    background-image: url("../images/accueil1.jpg");
    background-size: 100% 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F1F1;
    ;
}

p {
    padding: 5%;
}

.marge {
    margin: 5%;
}

hr {
    background-color: white;
}

.trade {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.footer {
    width: 100%;
     background-color: black;
     color: white;
     padding: 5%;
 }
 

 

.cache {
    display: none;
}

.menu,
.logor {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2C86D2;
    overflow-x: hidden;
    transition: 0.5s;

}

.sidenav ul {
    display: flex;
    flex-direction: column;
}

.sidenav li {
    border-bottom: 1px solid #F7F1F1;
    padding: 8%;
}

.annule {
    border-bottom: none;
}

.sidenav li a {
    color: white;
    text-decoration: none;
    font-size: large;
}

.rond {
    width: 20%;
    height: 50%;
    border-radius: 50%;
    overflow: hidden;
}
 

.footerImage {
    width: 100%;
    height: 500px;
}

.forme {
    width: 50%;
    height: 350px;
    border-radius: 50%;
    border-bottom: 10px solid #2C86D2;
    overflow: hidden;
}

.forme2 {
    width: 50%;
    height: 350px;
}

.surgeryA {
    width: 80%;
    height: 500px;
}

.width {
    width: 100%;
}

.contact {
    background-image: url("../images/app1.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}

.child {
    background-color: #F7F1F1;
    opacity: 0.8;
    font-weight: bold;
    width: 500px;
    height: 300px;
}

.formulaire {
    width: 40%;
}

.height {
    height: 600px;
}

.repertoire {
    width: 20%;
}

.closeli {
    position: absolute;
    bottom: 0;
    right:1px;
    font-size: x-large;

}

.bleu{
    color: #2C86D2;
}
.carre{
    width: 20px;
    height: 20px;
    border: 2px solid #2C86D2;
    margin-top: 2%;
}
.colonne{
    display: flex;
    flex-direction: column;
    align-items: start;
 }
.ligne{
    display: flex;
     color: white;

  }
  .ligne:hover{
    border-bottom: 2px solid #2C86D2;
}
.all{

    display: flex;
    flex-direction: row;
 }
 .font{
    font-size: small;
 }
 .marginLeft{
    margin-left: 5%;
 }
@media only screen and (min-width:1000px) {

    .car {
        height: 500px;
    }
}

@media only screen and (max-width:1000px) {
    .navigue {
        display: none;
    }

    .cache{
        border: 2px solid #2C86D2;
border-radius: 50px;
     display: flex;
    align-items: center;
    justify-content: space-between;
    
    }
    .menu,.logor {
        display: block;
    }
    .rond {
        width: 200px;
        height: 200px;
    }

    .footerImage {
        width: 100%;
        height: 30%;
    }

    .all{
         flex-direction: column;
    }
    .icone {
        margin-right: 10px;
    }

    .forme2,
    .forme {
        width: 100%;
    }

    .surgeryA {
        height: 200px;
        width: 100%;
    }

    .height {
        height: 400px;
    }

    .formulaire {
        width: 80%;
    }

    .repertoire {
        width: 50%;
    }

    .haut {
        height: 300px;
    }

    .car {
        width: 100%;
    }
    .ligne:hover{
        border-bottom: 2px solid #2C86D2;
    }
}